.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

.git
.gitignore
.github

**/.venv
**/venv
**/env
**/__pycache__
**/*.py[cod]
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov

**/node_modules
**/.npm
**/.pnpm-store
**/.yarn
**/build
**/dist
**/.vite
**/coverage

**/.langgraph_api
**/.cache
**/ta_charts

*.log
*.tmp
*.swp
*.swo

.env
.env.*
!.env.example

commands.docx
**/*.ipynb_checkpoints
